<% include ../partials/header %>
<div class='muscle'>
  <h3 class='muscle-name'><%= muscle.name %></h3>
  <h4 class='origins'>Origins</h4>
  <ul>
    <% muscle.origins.forEach((origin) => { %>
      <li><%= origin %></li>
  <%  }) %>
  </ul>
  <h4 class='insertions'>Insertions</h4>
  <ul>
    <% muscle.insertions.forEach((insertion) => { %>
      <li><%= insertion %></li>
  <%  }) %>
  </ul>
  <h4 class='actions'>Actions</h4>
  <ul>
    <% muscle.actions.forEach((action) => { %>
      <li><%= action %></li>
  <%  }) %>
  </ul>
  <h4 class='nerves'>Nerves</h4>
  <ul>
    <% muscle.nerves.forEach((nerve) => { %>
      <li><%= nerve %></li>
  <%  }) %>
  </ul>
  <img class='image' src='<%= muscle.image %>' alt='<%= muscle.name %>'>
</div>
<% include ../partials/footer %>
